# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# Pytest cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
.coverage
.coverage.*

# MyPy and other type checking tools
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pycharm
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# IDE or editor backups
*~
*.swp